complaintsystemapi_deep/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="variable-sub-flow" doc:id="528a2a23-0290-4b7e-8ba0-d1f21aa319b0" >
		<set-variable value="#[payload.description]" doc:name="description" doc:id="c9b83f00-2f9b-40cb-aa18-5baef3a649c9" variableName="description"/>
		<set-variable value="#[payload.status]" doc:name="status" doc:id="1f29243a-3904-40bc-9812-c952dd4e1b34" variableName="status"/>
		<set-variable value="#[payload.customerID]" doc:name="customerID" doc:id="05f28aa6-18f6-4313-b5ed-77e3adc33470" variableName="customerID"/>
		<set-variable value="#[payload.orderNumber]" doc:name="orderNumber" doc:id="d015694a-2279-4cb6-829f-54d14db1c19d" variableName="orderNumber"/>
		<set-variable value="#[payload.productCode]" doc:name="productCode" doc:id="aac7eb2b-508a-4210-ae09-c154aa20c17e" variableName="productCode"/>
	</flow>
	<flow name="patch-a-complaint-flow" doc:id="f58bf515-f174-4757-9fd2-6eb677b1bce2" >
		<flow-ref doc:name="variable-sub-flow" doc:id="3d104846-ec07-4933-9cf3-d5d7ceb5fbc6" name="variable-sub-flow"/>
		<choice doc:name="Choice" doc:id="0271b8d8-4bbe-4799-827a-6dcb461b6576" >
			<when expression="#[sizeOf(payload)==1]">
				<db:update doc:name="Partially modify a complaint" doc:id="07704cbf-4105-4a2a-92b4-95eb6ebc92ac" config-ref="Database_Config">
			<db:sql><![CDATA[update complaints set status= :status where CPID= :id]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	'id': attributes.uriParams.'complaintID',
	'status': vars.status
}]]]></db:input-parameters>
		</db:update>
				<choice doc:name="Choice" doc:id="647a554c-74a4-4073-a479-b033bda4e072" >
					<when expression="#[(payload.affectedRows)&gt;0]" >
						<ee:transform doc:name="sucess message for status update" doc:id="0cb252e2-5599-4dc1-a544-47174810532a" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Complaint status updated for ID: " ++(vars.'complaintID') as String
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</when>
					<otherwise >
						<ee:transform doc:name="Error message" doc:id="19656dce-dbd2-416c-b71d-81dd2c51411d" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Couldn't find complaint details for given ID"
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<set-variable value="500" doc:name="httpStatus" doc:id="f8265a17-ea58-4a49-9f3c-f38ec119ab71" variableName="httpStatus" />
					</otherwise>
				</choice>
			</when>
			<otherwise >
				<db:update doc:name="Update" doc:id="a1e9a4c8-f5ab-4750-890c-b7778a8ea62a" config-ref="Database_Config">
					<db:sql ><![CDATA[update complaints set description= :description,orderNumber= :orderNumber,productCode= :productCode where CPID= :complaintID]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	description: vars.description,
	orderNumber: vars.orderNumber,
	productCode: vars.productCode,
	complaintID: attributes.uriParams.'complaintID'
}]]]></db:input-parameters>
				</db:update>
				<choice doc:name="Choice" doc:id="2094fc1c-a497-40e9-b7cc-9c2d3b9df676" >
					<when expression="#[(payload.affectedRows)&gt;0]" >
						<ee:transform doc:name="sucess message for updating complaint details" doc:id="19a4aada-6ca9-4b29-a9c5-43e9b5e28ba2" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Complaint details updated for ID: " ++ (vars.'complaintID') as String
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</when>
					<otherwise >
						<ee:transform doc:name="Error" doc:id="2f1591aa-2a34-44b8-a394-c36c8202ed82" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Couldn't find complaint details for given ID"
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<set-variable value="500" doc:name="httpStatus" doc:id="7ab70cc6-85f9-4741-8637-ed366dc2aa04" variableName="httpStatus" />
					</otherwise>
				</choice>
			</otherwise>
		</choice>
	</flow>
	<flow name="post-a-complaint-flow" doc:id="56f92a53-2880-44af-b93e-b5ea88090980" >
		<flow-ref doc:name="variable-sub-flow" doc:id="2466deec-2153-47c9-b9b1-de250f9bc480" name="variable-sub-flow"/>
		<db:query-single doc:name="select maximum value of Complaint ID" doc:id="896bf4a5-d3e7-4b42-97af-994943a0e17c" config-ref="Database_Config">
			<db:sql ><![CDATA[select max(CPID) from complaints]]></db:sql>
		</db:query-single>
		<ee:transform doc:name="Transform Message" doc:id="f0f162ba-32b5-45cb-ab86-58793d964144" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'CPID':  "CP" ++((payload."max(CPID)"[2 to 4] as Number)+1)
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="add new complaint" doc:id="c62a9470-c98d-47e4-9b4f-a4070320d6ad" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into complaints(CPID,description,status,orderNumber,productCode,customerID)
values(:id, :description, :status, :orderNo, :productCode, :customerID)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': payload.CPID,
	'description': vars.description,
	'status': vars.status,
	'orderNo': vars.orderNumber,
	'productCode': vars.productCode,
	'customerID': vars.customerID
	
}]]]></db:input-parameters>
		</db:insert>
		<db:query-single doc:name="select maximum value of complaint ID" doc:id="71b5567b-5718-4cf1-9c32-5369e718c77f" config-ref="Database_Config">
			<db:sql ><![CDATA[select max(CPID) from complaints]]></db:sql>
		</db:query-single>
		<ee:transform doc:name="Transform Message" doc:id="ebc450c4-c026-4818-a1a9-479789041d6d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Complaint added for ID: " ++ (payload."max(CPID)") as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="put-a-complaint-flow" doc:id="a7996310-5be6-4bad-a073-f4430c1aa1a2" >
		<flow-ref doc:name="variable-sub-flow" doc:id="3b4b73a2-0b7e-4d0f-a778-2032e5f24a1c" name="variable-sub-flow"/>
		<db:query-single doc:name="check whether ID exist or not" doc:id="a085cb47-1263-47aa-a529-15c5a76dd17c" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from complaints where CPID= :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': attributes.uriParams.'complaintID'
}]]]></db:input-parameters>
		</db:query-single>
		<choice doc:name="Choice" doc:id="fffdc6ac-9708-4292-82d0-3037e2ed7568" >
			<when expression="#[sizeOf(payload)&gt;0]">
				<db:update doc:name="Replace a complaint detail" doc:id="e8e0a6ca-69c2-43fb-8a2f-c72cff8d034b" config-ref="Database_Config">
					<db:sql ><![CDATA[update complaints set description= :description,status= :status, orderNumber= :orderNo,
productCode= :productCode, customerID= :customerID where CPID= :id]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	'id': attributes.uriParams.'complaintID',
	'description': vars.description,
	'status': vars.status,
	'orderNo': vars.orderNumber,
	'productCode': vars.productCode,
	'customerID': vars.customerID
}]]]></db:input-parameters>
				</db:update>
				<ee:transform doc:name="Transform Message" doc:id="6e4100e6-f3a6-4ca6-ac17-ba49162540c1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Complaint detail updated for ID: " ++ (vars.'complaintID') as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<db:query-single doc:name="Copy_of_select maximum value of Complaint ID" doc:id="d6ff977c-b1b6-4342-ae71-69863eaa01da" config-ref="Database_Config" >
					<db:sql ><![CDATA[select max(CPID) from complaints]]></db:sql>
				</db:query-single>
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="2e439dd8-32c9-4780-8225-3bb34d07496c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	'CPID':  "CP" ++((payload."max(CPID)"[2 to 4] as Number)+1)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<db:insert doc:name="Copy_of_add new complaint" doc:id="c3540ccc-31f1-463b-a7f8-005b73c1cc6f" config-ref="Database_Config">
			<db:sql><![CDATA[insert into complaints(CPID,description,status,orderNumber,productCode,customerID)
values(:id, :description, :status, :orderNo, :productCode, :customerID)]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	'id': payload.CPID,
	'description': vars.description,
	'status': vars.status,
	'orderNo': vars.orderNumber,
	'productCode': vars.productCode,
	'customerID': vars.customerID
	
}]]]></db:input-parameters>
		</db:insert>
			</otherwise>
		</choice>
	</flow>
	<flow name="get-a-complaint-by-Id" doc:id="d4323985-417d-4b12-aa58-3fa4b2f6d300" >
		<db:query-single doc:name="Fetch a compaint by Id" doc:id="054bd2ad-64eb-4677-95c0-a4498a1a366d" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from complaints where CPID= :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': attributes.uriParams.'complaintID'
}]]]></db:input-parameters>
		</db:query-single>
		<choice doc:name="Choice" doc:id="c3963f1c-7e49-49a7-b8f9-396496df5a03" >
			<when expression="#[sizeOf(payload)&gt;0]">
				<ee:transform doc:name="Transform Message" doc:id="a4c307a4-20f6-4059-9700-ada35fc83657" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	complaintID: payload.CPID,
	description: payload.description default "",
	status: payload.status default "",
	customerID: payload.customerID default "",
	orderNumber: payload.orderNumber default "",
	productCode: payload.productCode default ""
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="cd879de9-16cb-4e83-9ee7-d883c7736baf" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Couldn't find complaint details for given ID: " ++ (vars.'çomplaintID') as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="500" doc:name="httpStatus" doc:id="d6354030-3b80-4135-a603-81c54bf7a9f8" variableName="httpStatus"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="delete-a-complaint-by-Id" doc:id="ad700ef9-3a27-4ccc-9857-6e1473540c4c" >
		<db:delete doc:name="Delete a complaint by Id" doc:id="2a70baa7-860c-4e5b-a37c-32ca82888f42" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from complaints where CPID= :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': attributes.uriParams.'complaintID'
}]]]></db:input-parameters>
		</db:delete>
		<choice doc:name="Choice" doc:id="fee54665-e013-48f7-addf-bf704596d4d0" >
			<when expression="#[payload==1]">
				<ee:transform doc:name="Transform Message" doc:id="f9df98f7-1c58-49ab-8911-206ca984b784" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Complaint detail deleted for ID: " ++ (vars.'complaintID') as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="ebd6792d-fa62-44d9-ac4d-31d5a9725642" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Couldn't find complaint details for given ID: " ++ (vars.'complaintID') as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="500" doc:name="httpStatus" doc:id="25c84f6f-508f-476c-9865-2eb318cdb5df" variableName="httpStatus"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="get-all-complaints-flow" doc:id="a0011cd0-b32f-46ec-9b53-4c42690a02d2" >
		<db:select doc:name="Fetch all complaint details" doc:id="263587c0-a92f-41dd-bc95-22090a3562b7" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from complaints]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="d8576ad5-2339-4574-9fc8-6c500d162abe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	complaintID: payload01.CPID,
	description: payload01.description default "",
	status: payload01.status default "",
	customerID: payload01.customerID default "",
	orderNumber: payload01.orderNumber default "",
	productCode: payload01.productCode default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
